<div class="login-page">
    <div class="login">
        <div class="login-header">
            <div class="img-wrap">
                <img alt="" src="assets/image/logo.png" />
            </div>
            <div class="login-header-border">
                <p>0</p>
            </div>
        </div>
        <div class="login-content">
            <div class="username-wrap">
                <p>Tu email</p>
                <input type="text" />
            </div>
            <div class="password-wrap">
                <p>Tu contrasena</p>
                <input type="password" />
            </div>
            <a class="session-button" href="/home">
                Inicia session
            </a>
            <a class="forget-password">Olvidaste tu contrasena?</a>
        </div>
        <div class="login-footer">
            <a class="register-up">Aun no tienes cuenta</a>
            <a class="register-button">
                Registrate
            </a>
        </div>
    </div>
    <div>
        <button class="chat-button">
            <img alt="" src="assets/image/chat.png" />
        </button>
    </div>
</div>