<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="home">
    <div class="header">
        <div class="search-wrap">

            <svg class="search-icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.713 489.713"
                style="enable-background:new 0 0 489.713 489.713;" xml:space="preserve">
                <g>
                    <path
                        d="M483.4,454.444l-121.3-121.4c28.7-35.2,46-80,46-128.9c0-112.5-91.5-204.1-204.1-204.1S0,91.644,0,204.144
            		s91.5,204,204.1,204c48.8,0,93.7-17.3,128.9-46l121.3,121.3c8.3,8.3,20.9,8.3,29.2,0S491.8,462.744,483.4,454.444z M40.7,204.144
            		c0-90.1,73.2-163.3,163.3-163.3s163.4,73.3,163.4,163.4s-73.3,163.4-163.4,163.4S40.7,294.244,40.7,204.144z" />
                </g>
            </svg>
            <input type="text" placeholder="Que queries aprender?" />
        </div>
        <a>Cursos</a>
        <a>Blog</a>
        <a>Foro</a>
        <a>Agenda</a>
        <a>TV</a>
        <a>Planes</a>
        <svg class="bell" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
            style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <path class="st0" d="M428.1,398.6c-2.9,4.7-8.2,7.4-14.6,7.4H313.3c-4.1,28.2-28.1,50-57.3,50c-29.2,0-53.2-21.8-57.3-50H98.5
        	c-6.4,0-11.7-2.7-14.6-7.4c-2.9-4.7-2.9-10.7-0.1-16.4l47.7-103V181c0-68.9,55.8-125,124.5-125c68.7,0,124.5,56.1,124.5,125v98.2
        	l47.8,103.2C431,387.9,431,393.9,428.1,398.6z M256,439.3c20,0,36.8-14.3,40.7-33.3h-81.3C219.2,425,235.9,439.3,256,439.3z
        	 M364.7,284.5c0,0,0-0.1,0-0.1c-0.2-0.5-0.2-1-0.4-1.6c-0.1-0.6-0.3-1.1-0.3-1.7c0,0,0-0.1,0-0.1V181c0-59.7-48.4-108.3-107.9-108.3
        	c-59.5,0-107.9,48.6-107.9,108.3v100c0,0.1,0,0.1,0,0.1c0,0.6-0.2,1.1-0.3,1.7c-0.1,0.5-0.2,1.1-0.4,1.6c0,0,0,0.1,0,0.1L98.8,389.3
        	h314.4L364.7,284.5z" />
        </svg>

        <div ngbDropdown class="dropdown">
            <button class="btn btn-warning dropdown-button" id="gfg" ngbDropdownToggle>0 Pts</button>
            <div ngbDropdownMenu="gfg">
                <button ngbDropdownItem>GeeksforGeeks</button>
                <button ngbDropdownItem>Angular10</button>
                <button ngbDropdownItem>ng bootstrap</button>
            </div>
        </div>
    </div>
    <div class="title">
        <h5> No son solo cursos, es tu plan de</h5>
        <h5> estudio personal</h5>
    </div>
    <div class="content">
        <h2>Que tipo de cursos te interesan?</h2>
        <div class="content-inner">
            <div class="category">
                <div>
                    <h5>Desarrollo e Ingenieria</h5>
                    <p>529 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                    	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                    	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                    	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Dyseno y UX</h5>
                    <p>93 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                      
                                    C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Marketing</h5>
                    <p>127 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Negocious y Emprendimiento</h5>
                    <p>108 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Contenido Digital</h5>
                    <p>66 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Habilidades Blandas</h5>
                    <p>112 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Startups</h5>
                    <p>47 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
            <div class="category">
                <div>
                    <h5>Ingles</h5>
                    <p>82 cursos</p>
                </div>
                <p>
                    <svg class="arrow-right" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 330 330"
                        style="enable-background:new 0 0 330 330;" xml:space="preserve">
                        <path id="XMLID_222_" d="M250.606,154.389l-150-149.996c-5.857-5.858-15.355-5.858-21.213,0.001
                                            	c-5.857,5.858-5.857,15.355,0.001,21.213l139.393,139.39L79.393,304.394c-5.857,5.858-5.857,15.355,0.001,21.213
                                            	C82.322,328.536,86.161,330,90,330s7.678-1.464,10.607-4.394l149.999-150.004c2.814-2.813,4.394-6.628,4.394-10.606
                                            	C255,161.018,253.42,157.202,250.606,154.389z" />
                    </svg>
                </p>
            </div>
        </div>

    </div>
    <div>
        <button class="chat-button">
            <img alt="" src="assets/image/chat.png" />
        </button>
    </div>
</div>